.top-bar {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 10px solid grey;
    text-align: center;
    font-size:50px;
    }

.card-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.employee-card {
    height: 250px;
    width: 250px;
    background: white;
    border: 5px solid grey;
    }

.card-top-bar {
    text-align: justify;
    padding: 10px;
    background: silver;
    color: white;
    margin-bottom: 25px;
}

.employee-name {
    font-size: 25px;
    }

.employee-role {
    font-size: 20px;
    }

.card-body-entry{
    width:85%;
    margin: 10px auto;
    border: 2px solid grey;
    box-shadow: 1px 1px silver;
    padding: 5px;
}

.card-body-entry a{
    text-decoration: none;
    color: black;
    
}